.assignment-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 70vh;
    overflow-y: auto;
    visibility: hidden;
}

.assignments {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.assignment-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vh;
}

.card {
    max-width: 20vw;
    width: fit-content;
    min-height: 200px;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 1px lightgrey;
    text-align: left;
    gap: 2vh;

    display: flex;
    flex-direction: column;
    cursor: grab;
}

.card video,
.card img {
    border-radius: 1rem 1rem 0 0;
    aspect-ratio: 3/1;
    border: none;
    width: 100%;
    object-fit: cover;
}

.card ul {
    margin: 1vh 0 0 0;
    display: flex;
}

.card li {
    background-color: lightpink;
    padding: 2px 10px;
    list-style: none;
    font-size: 0.7rem;
    align-content: center;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    padding-right: 0.4rem;
    margin-top: 10px;
}

.card-details h3,
.card-details p,
ul {
    margin: 0;
    padding: 0rem 1rem;
    line-height: 2vh;
}

.card-details p {
    font-size: 1rem;
}

.card-details button {
    width: 95%;
    margin: 1vh 1vh 2vh 1vh;
    height: 4vh;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-neutral-900);
    opacity: 0.8;
    color: var(--color-surface-0);
    font-family: var(--font-family-caption);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

@media all and (max-width: 1080px) {
    .assignment-section {
        height: 80vh;
    }

    .assignments {
        width: var(--primary-width-tablet);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin-bottom: 1.5rem;
    }

    .card-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        max-width: 40vw;
    }

    .card-details p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .card-details button {
        height: 2rem;
    }
}
@media all and (max-width: 978px) {
    .assignment-section {
        max-height: 70vh;
    }
}

@media all and (max-width: 576px) {
    .assignment-section {
        max-height: 65vh;
    }

    .card-wrapper {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 80vw;
        padding-right: 0;
    }

    .card-details {
        gap: 7vw;
    }

    .card-details li {
        font-size: 0.8rem;
        padding: 10px 10px;
    }

    .card-details button {
        height: 5vh;
    }
}
