/* Chat Box */
.chat-container {
  position: fixed;
  bottom: 3.5%;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  width: 100%;
}
.chat {
  /*width: 50vw;*/
  width: var(--primary-width-desktop);
  margin: auto;
  height: 5vh;
  border-radius: 20rem;
  box-shadow: 5px 5px 10px 2px lightslategray;
  background-color: var(--color-surface-100);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2rem;
}

.chat-text {
  margin-left: 0.7rem;
  width: 90%;
}

.send-btn {
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.suggestion-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vw;
  margin: auto;
  margin-bottom: 0.5%;
  width: var(--primary-width-desktop);
}

.suggestion {
  padding: 0.5rem 1rem;
  height: fit-content;
  width: fit-content;

  border-radius: 20rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(118, 102, 85, 0.15);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;

  cursor: pointer;
}

.suggestion-text {
  font-size: 1rem;
  transition: font-size 100ms ease-in-out;
}

.send-icon:hover,
.send-btn:hover {
  border-color: transparent;
  background-color: inherit;
}

@media all and (min-width: 1080px) {
  .suggestion-text:hover {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 1080px) {
  .suggestion-box {
    width: var(--primary-width-tablet);
    margin-bottom: 1.5%;
  }

  .chat {
    width: var(--primary-width-tablet);
    height: 6.5vw;
  }

  .send-icon {
    width: 1.8rem;
  }
}

@media all and (max-width: 640px) {
  .suggestion-box {
    width: var(--primary-width-mobile);
    margin-bottom: 2%;
    display: flex;
    gap: 0.5vw;
    overflow-x: auto;
    scrollbar-width: thin;
    border-radius: 20px;
  }

  .suggestion-text {
    font-size: 3.5vw;
    white-space: nowrap;
  }

  .chat {
    width: var(--primary-width-mobile);
    height: 11vw;
  }
}

@media all and (max-width: 576px) {
  .chat {
    width: var(--primary-width-mobile);
    height: 12vw;
  }

  .chat-text {
    font-size: 0.8rem;
  }

  .send-icon {
    width: 1.3rem;
  }
}
