.gallery-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 70vh;
    overflow-y: auto;
}

.gallery {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.image-wrapper {
    column-count: 4;
}

.image-wrapper img {
    width: 100%;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    display: block;
}
