.gallery-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 70vh;
    overflow-y: auto;
    visibility: hidden;
}

.gallery {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.gallery-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery-details p {
    line-height: 1.5rem;
}

.image-wrapper {
    column-count: 4;
}

.image-wrapper img {
    width: 100%;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    display: block;
}

@media all and (max-width: 1080px) {
    .gallery-section {
        height: 80vh;
    }

    .gallery {
        width: var(--primary-width-tablet);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin-bottom: 1.5rem;
    }

    .image-wrapper {
        column-count: 3;
    }
}
@media all and (max-width: 978px) {
    .gallery-section {
        max-height: 70vh;
    }
}

@media all and (max-width: 576px) {
    .gallery-section {
        max-height: 67vh;
    }

    .image-wrapper {
        column-count: 2;
    }
}
