/* Hero Section */
strong::selection {
    background-color: black;
    color: wheat;
}

.hero {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: 60%;
    padding: 3vh 0vw;
    width: var(--primary-width-desktop);
    scroll-behavior: smooth;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-details {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hero-details > p {
    margin: 0;
    text-align: start;
}

.hero-details > p:nth-child(1) {
    font-family: var(--font-family-base);
    font-size: clamp(1.7rem, 1.9vw, 1.9rem);
    line-height: 2.7rem;

    width: fit-content;
}

.hero-details > p:nth-child(2) {
    font-family: var(--font-family-caption);
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-top: 1.5rem;
}

.circle {
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.circle-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.circle-red {
    width: var(--circle-width-desktop);
    background-color: darkred;
}

.circle-white {
    width: calc(var(--circle-width-desktop) / 3);
    background-color: white;
    margin-right: 2rem;

    animation: spin 3s infinite alternate ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.circle-black {
    width: calc(var(--circle-width-desktop) / 6);
    background-color: black;
    margin-right: 0.3rem;
}

/* Media Queries */

/* Tablet Version */
@media all and (max-width: 1080px) {
    .hero {
        width: var(--primary-width-tablet);
        gap: 0px;
        justify-content: space-between;
        align-items: center;
    }

    .hero-details {
        margin: 10vh 10vh 10vh 0;
        justify-content: center;
    }

    .hero-details > p:nth-child(1) {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .circle-red {
        width: var(--circle-width-tablet);
        background-color: darkred;
    }

    .circle-white {
        width: calc(var(--circle-width-tablet) / 2.5);
        background-color: white;
        margin-right: 2rem;
    }

    .circle-black {
        width: calc(var(--circle-width-tablet) / 6);
        background-color: black;
        margin-right: 0.3rem;
    }
}

/* Mobile Version */
@media all and (max-width: 576px) {
    .hero {
        width: var(--primary-width-mobile);
        flex-direction: column;
    }
    .hero-details {
        width: fit-content;
        margin: 10vw;
    }

    .hero-details p:nth-child(1) {
        line-height: 2rem;
    }

    .circle-red {
        width: var(--circle-width-mobile);
        background-color: darkred;
    }

    .circle-white {
        width: calc(var(--circle-width-mobile) / 2.5);
        background-color: white;
        margin-right: 2rem;
    }

    .circle-black {
        width: calc(var(--circle-width-mobile) / 6);
        background-color: black;
        margin-right: 0.3rem;
    }
}
