/* Hero Section */
.decor-circle {
    border-radius: 20rem;
}

strong::selection {
    background-color: black;
    color: wheat;
}

.hero {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: 30vh;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
}
.hero-details {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hero-details > p {
    margin: 0;
    text-align: start;
}

.hero-details > p:nth-child(1) {
    font-family: var(--font-family-base);
    font-size: clamp(1.7rem, 1.9vw, 1.9rem);
    line-height: 2.7rem;

    width: fit-content;
}

.hero-details > p:nth-child(2) {
    font-family: var(--font-family-caption);
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-top: 1.5rem;
}

.circle-red {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20%;
    background-color: #c42f2f;
    width: clamp(13rem, 20vw, 20rem);
    aspect-ratio: 1/1;
    z-index: -1;
}

.circle-white {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10%;
    background-color: white;
    width: clamp(6rem, 10vw, 7rem);
    aspect-ratio: 1/1;
    z-index: -1;

    animation: rotate 10s infinite alternate ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(740deg);
    }
}

.circle-black {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10%;
    background-color: rgb(0, 0, 0, 0.8);
    width: clamp(2rem, 5vw, 3rem);
    aspect-ratio: 1/1;
    z-index: -1;
}

/* Media Queries */

/* Tablet Version */
@media all and (max-width: 1024px) {
    .hero {
        width: 100%;
        gap: 0px;
        max-height: 100vh;
    }
    .hero-details {
        margin: 10vh;
    }

    .hero-details > p:nth-child(1) {
        font-size: 1.2rem;
        line-height: 2.5vh;
    }
    .circle-red {
        width: 20vh;
        right: 10%;
        margin-bottom: 7vh;
    }
}

/* Portrait Mobile Version */
@media all and (max-width: 932px) {
    .circle-red {
        position: absolute;
        top: 20%;
    }
}

/* Mobile Version */
@media all and (max-width: 480px) {
    .hero {
        width: var(--primary-width-mobile);
        flex-direction: column;
        height: 70vh;
    }
    .hero-details {
        width: 100%;
        margin: 10vw;
    }

    .hero-details p:nth-child(1) {
        line-height: 2rem;
    }

    .circle-red {
        width: 50vw;
        margin-top: 50%;
    }
}
