.projects-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    max-height: 70vh;
    padding: 3vh 0vw;
    width: 100%;
    overflow-y: auto;
    transform: translateY(50px);
    scroll-behavior: smooth;
    visibility: hidden;
}

.projects {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    gap: 2vw;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3vh;
    background-color: rgb(250, 250, 250, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    width: 20vw;
    height: fit-content;
    padding: 3vh 0vh;
}

.project-img {
    width: 80%;
    border-radius: 3rem;
    border: 1px solid black;
}

.projects-section h3,
.project-text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 0 10%;
}

h3 {
    line-height: 1.7rem;
    text-align: left;
}

@media all and (max-width: 1080px) {
    .projects {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        margin-bottom: 2rem;
    }

    .project-details {
        width: 75%;
        margin-bottom: 1.2rem;
    }

    .project-img {
        width: 70%;
        border-radius: 3rem;
    }

    h3,
    .project-text {
        margin: 0 15%;
    }
}

@media all and (max-width: 576px) {
    .projects-section {
        height: fit-content;
    }

    .project-details {
        width: 100%;
    }

    .project-img {
        width: 85%;
    }

    h3,
    .project-text {
        text-align: left;
        font-size: 1rem;
        line-height: 1.7rem;
        margin: 0 4.5vw;
    }
}
