.projects-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    max-height: 70vh;
    padding: 3vh 0vw;
    width: 100%;
    overflow-y: auto;
    transform: translateY(50px);
    scroll-behavior: smooth;
    visibility: hidden;
}

.projects {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    gap: 2vw;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3vh;
    border: 1px solid black;
    border-radius: 2rem;
    width: 20vw;
    height: fit-content;
    padding: 3vh 0vh;
}

.project-img {
    width: 80%;
    border-radius: 3rem;
}

.project-text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 0 10%;
}

@media all and (max-width: 1024px) {
    .projects {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .project-details {
        width: 75%;
    }

    .project-img {
        width: 70%;
        border-radius: 3rem;
    }
}

@media all and (max-width: 480px) {
    .project-img {
        width: 85%;
    }

    .project-details {
        width: 100%;
    }

    .project-text {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin: 0 4.5vw;
    }
}
