.response-container {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: var(--primary-width-desktop);
    scroll-behavior: smooth;
    max-height: 68vh;
    overflow-y: auto;
}

.response-container > p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: left;
    background-color: #f1f1f1;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0rem;
    width: fit-content;
    max-width: 60%;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    visibility: hidden;
}

@media all and (max-width: 932px) {
    .response-container {
        width: var(--primary-width-tablet);
    }
}
