.results-container {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 68vh;
    overflow-y: auto;
}

.results {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    gap: 4vw;
}

.result-img {
    width: 15vw;
    border-radius: 3rem;
    visibility: hidden;
}

.results p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

@media all and (max-width: 1024px) {
    .results {
        flex-direction: column;
        align-items: start;
    }

    .result-img {
        width: 30vw;
    }
}

@media all and (max-width: 480px) {
    .results {
        flex-direction: column;
        align-items: start;
    }

    .result-img {
        width: 50vw;
    }
}
