.results-container {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 1rem;
}

.results {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    gap: 4vw;
}

.result-img {
    width: 15vw;
    min-width: 20rem;
    border-radius: 3rem;
    visibility: hidden;
    object-fit: cover;
}

.results p {
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: #f1f1f1;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem 1.5rem 0rem 1.5rem;
    max-width: 80%;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    visibility: hidden;
}

.results b {
    background-color: white;
    color: black;
}

.socials > img {
    width: 3.5vh;
    mix-blend-mode: darken;
}

.socials {
    display: flex;
    gap: 1vw;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.socials strong {
    background-color: lightpink;
    color: black;
}

@media all and (max-width: 1024px) {
    .results-container {
        max-height: 75vh;
    }
    .results {
        flex-direction: column;
        align-items: start;
        padding-bottom: 3rem;
    }

    .result-img {
        width: 30vw;
    }
}

@media all and (max-width: 932px) {
    .result-img {
        min-width: 10rem;
    }
    .results {
        width: var(--primary-width-tablet);
        flex-direction: column;
        align-items: start;
    }

    .results p {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .result-img {
        width: 40vw;
    }
}

@media all and (max-width: 1024px) and (max-height: 480px) {
    .results {
        flex-direction: column;
        align-items: start;
        margin-bottom: 2rem;
    }
}

@media all and (max-width: 576px) {
    .results-container {
        height: fit-content;
    }

    .results {
        flex-direction: column;
        align-items: start;
    }

    .result-img {
        width: 30vw;
    }

    .results p {
        font-size: 1rem;
    }
}
