.results-container {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 60vh;
    overflow-y: auto;
}

.results {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    gap: 4vw;
}

.result-img {
    width: 15vw;
    border-radius: 3rem;
    visibility: hidden;
    object-fit: contain;
}

.results p {
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: #f1f1f1;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem 1.5rem 0rem 1.5rem;
    max-width: 80%;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    visibility: hidden;
}

@media all and (max-width: 1024px) {
    .results-container {
        max-height: 80vh;
    }
    .results {
        flex-direction: column;
        align-items: start;
    }

    .result-img {
        width: 30vw;
    }
}

@media all and (max-width: 932px) {
    .results-container {
        max-height: 75vh;
    }

    .results {
        width: var(--primary-width-tablet);
        flex-direction: column;
        align-items: start;
    }

    .results p {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .result-img {
        width: 50vw;
    }
}

@media all and (max-width: 480px) {
    .results-container {
        max-height: 70vh;
    }

    .results {
        flex-direction: column;
        align-items: start;
    }

    .result-img {
        width: 50vw;
    }
}
