.skills-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 70vh;
    overflow-y: auto;
    visibility: hidden;
}

.skills {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.tech-wrapper {
    display: flex;
    flex-direction: column;
}

.tech-stack {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    padding: 1.5rem 2rem;
    max-width: 199px;
    height: fit-content;
    background-color: rgb(250, 250, 250, 0.9);
    border-radius: 1rem;
}

.tech-stack > img {
    width: 10vh;
}

.tech-details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.skills-section h4 {
    background-color: rgb(250, 250, 250, 0.9);
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    border-radius: 10px;
}

.skills h3 {
    margin: 0;
}

.frontend,
.backend,
.db,
.frameworks,
.platforms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.technology {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 1rem;
}

li {
    cursor: pointer;
}

@media all and (max-width: 1080px) {
    .skills-section {
        height: 80vh;
    }
    .skills {
        width: var(--primary-width-tablet);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin-bottom: 1.5rem;
    }
    .tech-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }
    .technology {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tech-stack {
        width: fit-content;
    }
}
@media all and (max-width: 978px) {
    .skills-section {
        max-height: 70vh;
    }
}

@media all and (max-width: 576px) {
    .skills-section {
        max-height: 67vh;
    }
    .tech-wrapper {
        display: flex;
        flex-direction: column;
    }
    .technology {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
