.skills-section {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 3vh 0vw;
    width: 100%;
    scroll-behavior: smooth;
    max-height: 70vh;
    overflow-y: auto;
    visibility: hidden;
}

.skills {
    width: var(--primary-width-desktop);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.tech-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.tech-stack {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    gap: 2vw;
    background-color: white;
    border-radius: 1.5rem 1.5rem 1.5rem 0rem;
    padding: 1.5rem 2rem;
    min-width: 199px;
    max-width: 200px;
}

.tech-stack > img {
    border-radius: 1rem;
    width: 10vh;
}

.tech-details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.tag {
    border-radius: 1rem;
    padding: 5px 7px;
    width: fit-content;
    height: fit-content;
}

.beginner {
    color: white;
    background-color: steelblue;
}

.inter {
    color: white;
    background-color: crimson;
}

.advance {
    color: white;
    background-color: mediumseagreen;
}

.tech-details strong {
    background-color: lightpink;
    color: black;
}

.tech-details > ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.skills h3 {
    margin: 0;
}

.frontend,
.backend,
.db,
.frameworks,
.platforms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.technology {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

li {
    cursor: pointer;
}

@media all and (max-width: 1080px) {
    .skills-section {
        height: 80vh;
    }
    .skills {
        width: var(--primary-width-tablet);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin-bottom: 1.5rem;
    }
    .tech-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }
    .technology {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tech-stack {
        width: fit-content;
    }
}
@media all and (max-width: 978px) {
    .skills-section {
        max-height: 60vh;
    }
}

@media all and (max-width: 576px) {
    .skills-section {
        max-height: 67vh;
    }
    .tech-wrapper {
        display: flex;
        flex-direction: column;
    }
    .technology {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
}
